/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
  margin:0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}
body a {
  text-decoration:none;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  font-family: 'Raleway', sans-serif;
    font-weight: 600;
} 
p{
  margin:0;
}
ul{
  margin:0;
  padding:0;
}
label{
  margin:0;
}
/*--banner-slider--*/
.banner {
    background: url(../images/banner.png) no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 750px;
}
.artist-banner {
    background: url(../images/banner.png) no-repeat 0px 0px;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 750px;
}
.navbar-header h1 {
    margin: 0;
    padding: 0;
    margin-top: 1px;
    font-size: 2em;
  font-family: 'Raleway', sans-serif;
}
.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
    margin-top: 2em;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #99abd5;
   background:none!important;
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    padding: 21px 25px 0;
    position: relative;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1.5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav li a.active {
    color: #fa5d07;
}
.navbar-right {
    float: left!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding: 0!important;
}
/*-- nav-effect --*/
.nav > li {
    border-right: none!important;
}
.navbar-default .navbar-nav > li:nth-child(5) a {
    padding-right: 0!important;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 10px;
}
/*-- //nav-effect --*/
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-brand {
    height: initial;
    padding: 0;
    font-size: 18px;
    line-height: initial;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
  padding:0;
  border: none;
}
.agile_short_dropdown li a {
    text-transform: capitalize;
    color: #212121;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 600;
    padding: .8em 0;
    border-bottom: 1px solid #ececef;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color:#fa5d07;
}
a.read-agileits {
    display: inline-block;
    text-decoration: none;
    padding: 10px 35px;
    margin-top: 1em;
    color: #fff;
    background: #fa5d07;
}
a.read-agileits:hover
{
  
  background-color:#292929;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fa5d07;
    background-color: transparent;
}
/*-- Slider Part starts Here --*/
#slider3,#slider4,#slider5  {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  /*-- w3layouts --*/
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
/*-- agileits --*/

.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  left: 0;
  right: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  top: 10%;
  text-align: center;
}
.callbacks_nav {
    position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 61%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 62px;
  width: 45px;
  margin-top: -65px;
}
.callbacks_nav:active,.callbacks_nav:hover {
  opacity: 1.0;
}

#slider3-pager a,#slider4-pager a ,#slider5-pager a  {
  display: inline-block;
}
#slider3-pager span,#slider4-pager span,#slider5-pager span{
}
#slider3-pager span,#slider4-pager span,#slider5-pager span{
  width:100px;
  height:15px;
  background:#fff;
  display:inline-block;
  /*-- w3layouts --*/
  border-radius:30em;
  opacity:0.6;
}
#slider3-pager .rslides_here a ,#slider4-pager .rslides_here a,#slider5-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a ,#slider4-pager a,#slider5-pager a  {
  padding: 0;
}
#slider3-pager li, #slider4-pager li, #slider5-pager li{
  display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
}


@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #002663;
}
.callbacks_here a:after{
    background: #ff9900;
    border: 1px solid #ff9900;
    height: 3px;
    width: 40px;
    border-radius: 0;
    /* margin: 0 0px; */
}
a.callbacks_nav.callbacks1_nav.prev {
    background: transparent url(../images/arrr1.png) no-repeat 0px 0px;
    left:86.5%;
    height: 65px;
    width: 65px;
    top: 53%!important;
}
.callbacks_nav.next {
    background: transparent url("../images/arrr2.png") no-repeat 0px 0px;
    left:92.5%;
    height: 65px;
    width: 65px;
    top: 53%;
}
a.callbacks_nav.callbacks3_nav.prev {
    background: transparent url("../images/arrow4.png") no-repeat left top;
    height: 62px;
    width: 64px;
    top: 61%;
    left: 0;
}
a.callbacks_nav.callbacks3_nav.next{
    background: transparent url("../images/arrow3.png") no-repeat -1px 0px;
    left: 95%;
    height: 62px;
    width: 64px;
  top:61%;
}

/*-- Slider part Ends Here --*/
.banner-text {
    width: 70%;
    margin: 11em auto 0;
    text-align: left;
    background:rgba(101, 95, 93, 0.45);
    float: right;
    padding: 30px;
}
.callbacks_nav {
    top: 53%!important;
}
.banner-text h3 {
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 15px 0;
}
.banner-text h6 {
    font-size: 45px;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: #fa5d07;
}
.banner-text p {
    color: #eaeaea;
    line-height: 28px;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}

/*-- //Slider --*/

/*-- //Banner-Slider --*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    float: right;
}
.about.w3layouts-agileinfo {
    padding: 5em 0;
}



/*==== style for category list====*/
.categories {
    background: #FFF;
    padding: 0.7em 0;
    box-shadow: 0px -4px 10px #797979;
}
.categories-left {
    float: left;
    width: 70%;
}
ul.options {
    margin: 0;
    padding: 0;
    float: left;
}
ul.options li {
    display: inline-block;
    margin-right: 0.4em;
}
ul.options li a {
    border: 1px solid #fa5d07;
    padding: 0.5em 1.2em;
    font-size: 0.8em;
    text-decoration: none;
    display: block;
    color: #fa5d07;
    background: #FFF;
}
ul.options li a:hover
{
  color:#fff;
  background-color:#fa5d07;
}
.s-option {
    margin-left: 4%;
    float: left;
    border: 1px solid #fa5d07;
    padding: 0.3em 1.8em 0.3em 0.5em;
    font-size: 0.875em;
    text-decoration: none;
    display: block;
    color: #fa5d07;
    background: url(../images/arrow1.png) no-repeat 130px 13px #FFF;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    width: 20%;
}
.categories-right {
    position: relative;
}

.categories-right {
    float: right;
    width: 30%;
}
.categories-right input[type="text"] {
    border:1px solid #fa5d07;
    padding: 0.5em 1.2em;
    font-size: 0.8em;
    text-decoration: none;
    display: inline-block;
    color: #fa5d07;
    background: #FFF;
    outline: none;
    width: 74%;
    position: relative;
}
.categories-right input[type="submit"] {
    background: #fa5d07;
    color: #FFF;
    font-size: 0.875em;
    border: none;
    right: 0;
    outline: none;
    position: absolute;
    padding: 0.5em 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all -moz-transition:0.5s all -o-transition:0.5s all -ms-transition:0.5s all;
}

.songs-lists
{
  margin-top:35px;
}
.songs-lists img
{
  border:3px solid #fa5d07;
}
.artist_content
{
  margin-bottom:40px;
}
.artist_title
{
    vertical-align: top;
    padding: 0px 10px;
    margin-bottom: 12px;
}
.artist_block:hover h4
{
  color:#fa5d07;
}
.artist_title h4
{ 
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
  margin-top:12px;
  color:#333;
  text-align:left;
    
}
.artist_title p
{
  font-size:12px;
  text-align:left;
  color:#777;
}
.artist_block img
{
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.artist_block:hover img
{
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.artist_block:hover
{

      box-shadow: 0px 0px 2px 2px #eeeeee;
}
/*-- content --*/
.content{
  padding:1.5em 0 5em 0;
}
.artical-left img{
  width:100%;
  display:block;
}
.artical-head{
  padding: 0em 0 0.6em;
}
.artical-head h2{
  margin:0;
  padding:0;
  float:left;
}
.artical-right h2 a{
  color:#fa5d07;
  font-size:0.8em;
  text-decoration:none;
  font-weight:400;
  text-transform:uppercase;
}

.artical-info p{
  margin:0;
  padding:0.4em 0;
  font-size:0.875em;
  color:#747474;
}
.artical-info p a{
  color:#747474;
  padding:0 0.4em 0 0;
  text-decoration:none;
}
.artical-info p a:hover{
  color:#e74c3c;
}
.artical-info p strong{
  color:#747474;
  margin-right:0.25em;
}
.artical{
  border:1px solid #fa5d07;
  padding:1em 0;
  margin-bottom:1em;
}
/*-- pagenate --*/
.pagenate{
  margin-top:1em;
}
.pagenate ul{
  margin:0;
  padding:0;
}
.pagenate ul li{
  display:inline-block;
}
.pagenate ul li a{
  display:block;
  padding:0.5em 0.8em;
  background:#747474;
  color:#FFF;
  text-decoration:none;
  font-size:0.875em;
}
.pagenate ul li a:hover,.pagenate ul li.page-active a{
  background:#fa5d07;
}
.content-left{
  padding-left:0;
}
.content-right{
  padding-right:0px;
}
.popular-allbum-pic{
  float:left;
  width:25%;
}
.popular-allbum-pic a img{
  width:100%;
}
.popular-allbum-info{
  float:right;
  width:72%;
  padding-left:0.5em;
}
.popular-allbum-info h3{
  margin:0;
  padding:0 0 0.2em 0;
  display:block;
  font-size:1.2em;
}
.popular-allbum-info h3 a{
    color: #fa5d07;
    font-weight: 400;
    text-decoration: none;
}
.popular-allbum-info p{
  color:#747474;
  font-size:0.8em;
  margin:0;
  padding:0.2em 0;
}
.popular-allbum-info p a{
  color:#747474;
  text-decoration:none;
}
.popular-allbum-info p a:hover{
  color:#e74c3c;
}
.popular-allbum{
  border:1px solid #fa5d07;
  padding:0.5em;
}

.popular-albums h2{
  margin-bottom:0.5em;
  border:1px solid #EEE;
  padding:0.7em 0.5em;
  display:block;
  font-size:1.2em;
  text-transform:uppercase;
  font-weight:700;
  color:#ffffff;
  background-color:#fa5d07;
}
.popular-allbum{
  margin-bottom:0.5em;
}

/*===artist section=====*/
/*.artist-info
{
  padding-bottom:45px;
}
.artist-info p {
    margin: 0;
    padding: 0.4em 0;
    font-size: 0.875em;
    color: #747474;
}

.artist-info p strong {
    color: #747474;
    margin-right: 0.25em;
}
.ptb-50{
    padding: 50px 50px;
}

.section_bg_gray {
    background-color: #f3f5f7;
}

.single_artist {
    background-color: #ffffff;
    text-align: center;
    padding: 0 35px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.single_artist:hover {
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.single_artist .top_line {
    position: absolute;
    top: 0;
    left: 44%;
    background-color: #fa5d07;
    width: 12%;
    height: 3px;
}

.single_artist .artist-figure{
    padding: 40px 0;
}
.single_artist .artist-figure img {
    margin: 0 auto;
    box-shadow:0px 4px 12px 2px #555555ab;
}
.single_artist .artist-head {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 35px;
    margin: 0;
    color: #2b353a;
}
.single_artist .what_we_do_content {
    padding-bottom: 65px;
    color: #2b353a;
}
 .single_artist .what_we_do_icon {
    position: absolute;
    bottom: -9px;
    left: 47%;
    color: #fff;
    background-color: #fa5d07;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.single_artist .what_we_do_icon i {
    font-size: 24px;
    text-align: center;
    padding:7px 3px 2px 0px;
}*/

/*====style for footer====*/
.footer {
  background: #000000;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #fa5d07;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer p
{
  margin-top: 23px;
  color: #777676;
  line-height: 1.8em;
  list-style-type: none;
  font-size: 0.9em;
  letter-spacing: .5px;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #F5F5F5;
}
.footer ul li a {
  padding: 0 0 5px 0;
/*  display: block;*/
}
.footer ul.address li
{
      list-style-type: none;
    margin-bottom: 1em;
    color: #999;
    text-transform: uppercase;
}
.footer ul.address li a 
{
      color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.9em;
}
.footer ul.address li a:hover
{
      color: #fa5d07;
}
.footer ul.address li .fa
{
  color: #777777;
  padding-right: 1em;
  font-size:15px;
}
.footer a {
  color: #F5F5F5
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social-icons.social-icons--rounded
{
  margin-top: 23px;
}
.social-icons.social-icons--rounded ul li:first-child {
    padding-left: 0;
}
.footer--widgets .widget--details .social-icons ul li a {
    color: #858585;
    border-color: #858585;
}
.social-icons.social-icons--rounded ul li a {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #777676;
    color: #fff;
    border-radius: 0;
    font-size: 20px;
    background: transparent;
    box-shadow: 2px 2px 1px #3a3737;
}
.social-icons.social-icons--rounded ul li a:hover{
  background: #fa5d07;
    box-shadow: 2px 2px 1px #3a3737;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.social-icons ul li a {
    color: #000;
    display: inline-block;
}
.social-icons.social-icons--rounded ul li {
    padding: 0 8px;
}
.social-icons ul li {
    display: inline-block;
    padding: 0 12px;
}


.footer-bottom {
  background:#000;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
/*--responsive--*/
@media(max-width:1680px){
  
}
@media(max-width:1600px){
  
}
@media(max-width:1440px){
  
}
@media(max-width:1366px){
  .banner-text h3 {
    font-size: 50px;
  }
  .banner-text {
    width: 66%;
    margin: 10em auto 0;
  }
  .banner {
    min-height: 650px;
  }
}
@media(max-width:1280px){
  .banner-text h3 {
    font-size: 40px;
    line-height: 50px;
  }
  .banner-text p {
    font-size: 14px;
  }

 
}
@media(max-width:1080px){

  .navbar-default .navbar-brand {
    font-size: 36px;
  }

  .banner-text {
    width: 77%;
    margin: 9em auto 0;
}
.banner {
    min-height: 600px;
}
a.callbacks_nav.callbacks1_nav.prev {
    left: 85.5%;
}

}
@media(max-width:1050px){
 
}
@media(max-width:1024px){

}
@media(max-width:991px){
  .banner-text h3 {
    font-size: 40px;
    line-height: 45px;
  }
  .banner-text {
    margin: 6.4em auto 0;
    width: 63%;
  }

  .banner-text h3 {
    margin: 10px 0;
  }
  .banner {
    min-height: 540px;
  }
  .banner-text h3 {
    font-size: 36px;
    line-height: 45px;
}
  a.callbacks_nav.callbacks1_nav.prev {
    left: 80.5%;
  top: 43%!important;
}
.callbacks_nav.next {
    left: 90.5%;
}
.callbacks_nav {
    top: 44%!important;
}
.navbar-default .navbar-nav > li > a {
    padding: 15px 16px 0;
}
}
@media(max-width:900px){
 
}
@media(max-width:800px){
  .banner-text h3 {
    font-size: 32px;
    line-height: 38px;
  }
  .banner-text {
    margin: 5em auto 0;
    width: 82%;
}
  .banner-text h6 {
    font-size: 40px;
    letter-spacing: 3px;
  }
  .banner-text p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.5px;
  }
  .banner {
    min-height: 470px;
  }

}
@media(max-width:768px){

  a.callbacks_nav.callbacks1_nav.prev {
    background: transparent url(../images/arrr1.png) no-repeat 0px 0px;
    background-size: 40px;
    height: 40px;
    width: 40px;
    top: 52%!important;
}
  .callbacks_nav.next {
    background: transparent url(../images/arrr2.png) no-repeat 0px 0px;
    background-size: 40px;
    height: 40px;
    width: 40px;
  }
  .callbacks_nav {
    top: 52%!important;
  }

}
@media(max-width:767px){
   ul.nav.navbar-nav.navbar-right {
    margin: 0;
    margin-left: 0;
    width: 100%;
    padding: 10px 0;
  }
  .navbar-default .navbar-nav > li > a { 
    text-align: center;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    background: #000;
  }
  .navbar-default .navbar-toggle {
    border-color: #fa5d07;
    background: #fa5d07;
    margin: 0;
    margin: 0px 0px 0px 0;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(255, 153, 0, 0);
  }
  .navbar-default .navbar-nav > li > a:before { 
    width: 0; 
  }
  .navbar-default .navbar-nav > li > a {
    padding: 1em 0em;
    color: #fff;
    font-size: 0.8em;
  }
  .navbar-nav > li {
    margin: 0;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    font-size: 0.8em;
    border: none;
    text-align: center;
    padding: 0.7em 0;
    font-weight: 600;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fa5d07;
    background-color: transparent;
  }
  div#bs-example-navbar-collapse-1 {
    background: rgba(0, 0, 0, 0.83);
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
    text-align: center!important;
  }
  .navbar-default .navbar-nav > li > a:before {
    width: 0;
    display:none;
  }
  
  .navbar-toggle {
    position: relative;
    float: right;
    padding:11px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
  }
  .banner-text {
    margin: 3.5em auto 0;
  }

  .navbar-default .navbar-brand {
    font-size: 32px;
  }
 
  .banner {
    min-height: 430px;
  }
 
}
@media(max-width:736px){
  
}
@media(max-width:667px){
  .banner-text {
    width: 84%;
  }
  .banner-text h3 {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 1.5px;
  }
  
}
@media(max-width:640px){
  .banner-text {
    width: 70%;
  }
 
  .banner-text {
    width: 89%;
}
}
@media(max-width:600px){
 
  a.callbacks_nav.callbacks1_nav.prev {
    left: 81%;
  top: 38%!important;
}
  .callbacks_nav.next {
    left: 89%;
  }
  .callbacks_nav {
    top: 38.5%!important;
  }
  .banner-text h3 {
    letter-spacing: 0px;
}
}
@media(max-width:568px){
  .banner {
    min-height: 430px;
  }
  .banner-text h3 {
    font-size: 27px;
    line-height: 30px;
  }
  
}
@media(max-width:480px){
  .banner-text {
    width: 100%;
  }
  .banner-text h6 {
    font-size: 30px;
    letter-spacing: 2.5px;
  }
  .banner-text p {
    letter-spacing: 1px;
  }
 
  a.callbacks_nav.callbacks1_nav.prev {
    left: 75%;
  }
  .callbacks_nav.next {
    left: 86%;
  }


  .navbar-default .navbar-brand {
    font-size: 30px;
  }
  .banner-text {
    margin: 2em auto 0;
  }
  .banner {
    min-height: 380px;
  }
  .categories-right
  {
    float:none;
    width:100%;
  }
ul.options li
{
  margin-bottom:10px;
}
.s-option
{
  margin-left:0;
  width:70%;
  margin-bottom:10px;
}
  
}
@media(max-width:440px){
  .banner-text h3 {
    font-size: 21px;
  }
  .banner-text {
    padding: 20px 20px;
}
 
  .banner {
    min-height: 360px;
  }
  
}
@media(max-width:414px){
  .banner-text p {
    letter-spacing: 0.5px;
  }
  
}
@media(max-width:384px){
  .banner-text h3 {
    font-size: 21px;
    line-height: 24px;
    margin: 10px 0 3px;
  }
  .banner-text p {
    line-height: 21px;
  }
  
  .navbar-default .navbar-nav > li > a {
    padding: 0.6em 0em;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    font-size: 0.89em;
    padding: 0.4em 0;
  }
  
}
@media(max-width:375px){
  
}
@media(max-width:320px){
  .banner-text h3 {
    font-size: 17px;
    letter-spacing: 0px;
}
.banner-text {
    padding: 20px 10px;
}
a.read-agileits {
    padding: 6px 15px;
    font-size: 13px;
}
  .navbar-default {
    margin-top: 1.3em;
}
.banner {
    min-height: 350px;
}
  .banner-text {
    margin: 1.95em auto 0;
  }
  
  a.callbacks_nav.callbacks1_nav.prev {
    left: 69%;
  }
  .callbacks_nav.next {
    left: 84%;
  }
  
}
/*--//responsive--*/

.star-rating {
  line-height:32px;
  font-size:1.25em;
}
.star-rating .fa-star{color: #fa5d07;}
.artist-info-detail p
{
    font-size: 0.875em;
    color: #747474;
    line-height:2;
}